<%- include("includes/top"); %>
<%- include("includes/head", {customStyle: "shared"}); %>
<%- include("includes/header"); %>
<%- include("includes/aside"); %>
<%- include("includes/main"); %>
<h1>Success!</h1>
<p>Your restaurant was successfully added to our list!</p>
<%- include("includes/bottom"); %>
