<%- include("includes/top"); %>
<%- include("includes/head", {customStyle: "index"}); %>
<%- include("includes/header") %>
<%- include("includes/aside") %>
<%- include("includes/main"); %>
<h1>Make the world a tastier place!</h1>
<p>
    Share your favorite restaurants or find recommendations of other users!
</p>
<ul id="actions">
    <% listBoarding.forEach((value, key) => { %>
        <%- include("includes/index/boarding-item", {key: key, value: value}); %>
    <% }); %>
</ul>
<%- include("includes/bottom"); %>